.flex 	{display: flex !important;}
.s-between {display: flex !important; justify-content: space-between !important;}
.s-around {display: flex !important; justify-content: space-around !important;}
.nowrap {flex-wrap: nowrap !important;}