.footer {
	padding:  77px 0 (77px/2);
	&__container {
		justify-content: space-between;
		align-items: center;
		@include under(sm) {
			display: block;
			text-align: center;
			div { margin-bottom: 20px; }
		}
	}

	&__ttl {
		font-family: f(gotham);
		font-weight: bold;
		font-size: 14px;
		text-transform: uppercase;
		margin-bottom: 10px;
		@include under(sm) {
			margin-bottom: 20px;
		}
	}

	&__item {
		font-family: f(gotham);
		font-size: 12px;
		margin-bottom: 5px;

		a {
			&:not(:last-child):after {
				content: '|';
				display: inline-block;
				margin: 0 6px;
				color: #ccc;
			}
			@include link-states {
				color: #888;
			}
		}
	}
}
