* { box-sizing: border-box; }

html { overflow-y: scroll; }

.masonry {

  &__container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .masonry-sizer,
  .masonry-item {
    width: 50%;
    // @include ease-transition;

    @include under(sm) {
      width: 100%;
    }
   }

  .masonry-item {
    padding: 20px;

    @include under(sm) {
      padding-left: 0;
      padding-right: 0;
    }
  }

}
