.menu {
	&__row {
		position: fixed;
		top: 0;
		background-color: c(white);
		padding-top: 32px;
		padding-bottom: 40px;
		@include under(sm) {
			padding-top: $pb-sm;
			padding-bottom: $pb-sm;
		}
		z-index: 9;
	}

	&__col {
		@include flex-static-col-with-adaptable-cols(250px, $static_col_name: 'logo', $calc_col_name: 'links')
		&--logo {
			@include under(md) {
				flex: 0 0 200px;
			}
		}
		&--links {
			display: flex;
			justify-content: space-between;
			padding-left: 20px;
			max-width: 878px;
			width: 100%;
			align-items: flex-end;
			@include under(sm) {
				.menu-item { display: none; }
				justify-content: flex-end;
			}
		}
	}

	&__logo {
		position: relative;
		top: -10px;
		cursor: pointer;
		height: $main-height;
		width: 250px;
		@include under(md) {
			width: 200px;
		}
	}

	&-item {
		list-style: none;
		font-size: 12px;
		// font-family: f(gotham);
		font-family: f(book) !important;
		text-transform: uppercase;
		// font-weight: lighter !important;
		cursor: pointer;
		&:hover {
			color: transparentize(c(), 0.15)
		}

		&.current-menu-item a {
			color: #888;
			@include link-states {
				color: #888;
			}
		}

	}

	&__item,
	&__lang-container a,
	&__lang-container span {
		@include under(sm) { display: none; }
		list-style: none;
		font-size: 12px;
		font-family: f(gotham);
		text-transform: uppercase;
		font-weight: medium;
		cursor: pointer;
		&:hover {
			color: transparentize(c(), 0.15)
		}

		&.selected {
			@include link-states {
				color: #888;
			}
		}

		&--mobile {
			cursor: pointer;
			font-family: f(gotham);
			text-transform: uppercase;
			font-size: 40px;
			padding: 10px;
			display: inline-block;
			margin-bottom: 30px;
			@include under(xs) {
				font-size: 25px;
			}
			&.selected {
				@include link-states {
					color: #888;
				}
			}

		}
	}

	&__lang-container  {
		&--mobile {
			width: 100%;
		}
		& span {
			@include under(sm) {
				display: none;
			}
		}
		&--mobile a,
		&--mobile span {
			font-size: 30px;
			@include under(sm) {
				display: inline;
			}
		}
	}



	&__open,
	&__close {
		display: none;
		height: 23px;
		width: 23px;
		cursor: pointer;
		&:hover {
			opacity: 0.7;
		}
	}

	&__open {
		position: relative;
		top: 2px;
		width: 27px;
		@include under(sm) {display: inline;}
		@at-root {
			#menu.open {
				@include under(sm) {display: none;}
			}
		}
	}
	&__close {
		@at-root {
			#menu.open {
				@include under(sm) {display: inline;}
			}
		}

	}

	&__mobile {
		display: none;
		position: fixed;
		background-color: c(white);
		width: 100%;
		overflow: auto;
		height: 100%;
		padding-bottom: 50px;//para que el overflow: auto scrollee lo suficiente cuando sea necesario
		min-height: 100vh;
		top: $body-pt-sm;
		left: 0;
		z-index: 9;
		text-align: center;
		&-links {
			padding-top: 50px;
			display: flex;
			flex-direction: column;
			align-items: center;

			.menu-item {
				cursor: pointer;
				font-family: f(gotham);
				text-transform: uppercase;
				font-size: 40px;
				padding: 10px;
				display: inline-block;
				margin-bottom: 30px;
				@include under(xs) {
					font-size: 25px;
				}
				&.current-menu-item a {
					@include link-states {
						color: #888;
					}
				}
			}

		}
	}
}
